body {
  background: #f0f0f0;
}

.header,
footer {
  background: #313536;
  padding: 20px;
}

.header svg {
  max-width: 100vw;
  width: 137px;
}

.header svg path,
footer svg path {
  fill: #f0f0f0;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer .social svg {
  margin: 0 20px;
}

footer .social a:hover svg path {
  fill: #f49a74;
}

footer .copy {
  color: #f0f0f0;
  margin-top: 20px;
  font-weight: lighter;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 45px auto;
  padding: 45px;
  background: #fff;
  border: 1px solid #eee;
}

.markdown-body a {
  color: #f49a74;
}

nav.markdown-body {
  max-width: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.copy {
  font-family: "Arvo", sans-serif;
}

.container {
  display: flex;
}

@media (max-width: 767px) {
  .markdown-body {
    margin: 0 auto;
    padding: 15px;
  }

  .container {
    flex-direction: column-reverse;
  }

  nav.markdown-body {
    min-width: 100vw;
  }
}
